.title {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    padding:0;
    margin:0;
  }
  .tasksContainer {
    width: 550px;
    margin:0 auto;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    
  }
  .todos {
    width:550px;
    margin:0 auto;
    margin-bottom:100px;
    position: relative;
    background-color:white;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
  }
  .MarkAllButton {
    background-image: url('./icons/down.png');
    background-repeat: no-repeat;
    position:absolute;
    top:15px;
    left:15px;
    width: 25px;
    height: 25px;
  }
  .CountTasks {
    display: block;
    color:#777;
    padding: 10px 15px;
    width: 100px;
    float: left;
    font-size:14px;
  }
  .FilterButtons {
    float: left;
    margin:10px 0 0 30px;
    font-size:14px;
  }
  .FilterButtons a {
    padding:3px 7px;
    display: inline;
    color:#777;
    border:1px solid white;
    border-radius:5px;
    margin:0 3px;
  }
  .FilterButtons a:hover {
    border-color: rgba(175, 47, 47, 0.1);
  }
  .FilterButtons a:active {
    border-color: rgba(175, 47, 47, 0.2);
  }
  .FilterButtons .activeFilter {
    border-color: rgba(175, 47, 47, 0.2);
  }
  .removeAllButton {
    float: right;
    font-size:14px;
    color:#777;
    margin:10px 10px 0 0;
  }
  .removeAllButton:hover {
    text-decoration: underline;
  }
  .registerSubmit {

    display: block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
    margin:10px auto;
  }